@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
    background-color: rgba(115, 66, 214, 0.1);
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a {
    text-decoration: none;
    position: relative;
    transition: opacity 300ms ease;
}

ul {
    display: flex;
}

li {
list-style-type: none;
}

button {
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
    padding: 20px;
}

.purple {
    color: #7342d6;
}

.container {
    padding: 20px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}





/* NAVIGATION BAR */

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    position: relative;
}

.nav__bar {
    display: none;
}


.nav__link::marker {
    content: "";
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 18px;
    color: #242424;
    text-decoration: none;
    font-weight: 700;
}

.nav__link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
    
}


.btn__menu {
    background-color: transparent;
    font-size: 30px;
    text-align: center;
    border: none;
    color: #7342d6;
    display: none;
}


.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
}

.menu--open .menu__backdrop {
    display: flex;
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    font-size: 40px;
    color: white;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

.logo {
    height: auto;
    width: 160px;
}

/* HEADER */

h1 {
    font-size: 50px;
    color: #7342d6;
    margin-bottom: 24px;
    margin-top: 24px;
    text-align: center;
}

h2 {
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}

form {
    width: 100%;
    margin-left: 16px;
}

.input__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search__engine {
    background-color: rgb(255, 255, 255);
    color: rgb(10, 31, 68);
    display: inline-block;
    height: 70px;
    line-height: 40px;
    width: 100%;
    font-size: 24px;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(10, 31, 68);
    border-image: initial;
    outline: none;
    padding: 0px 15px 0px 25px;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* SEARCH BUTTON */


button.loading {
    background-color: rgb(10, 31, 68);
    cursor: no-drop;
    width: 160px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    transition: 0.25s
}

/* MOVIES */

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 25%;
height: 100%;
box-sizing: border-box;
}

.movie__img {
    width: 100%;
  border-radius: 10px;
  height: auto;
  display: block;
}

.movie__img--wrapper {
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}

.movie:hover .book__img {
    transform: scale(1.03);
}

.movie__title {
    font-size: 18px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie__titile:hover {
    text-decoration: underline;
    cursor: not-allowed;
}

.movie__tag {
    margin-bottom:  8px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie__year--normal {
    padding-right: 6px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}






/* MEDIA */

@media (max-width: 768px) {
    nav {
        height: 68px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 24px;
    }

    .btn__menu {
    display: block;
}

}

/* SMall Phones */

@media (max-width: 480px) {
    .nav__link:not(:last-child) {
        display: none;
    }
}

/* SMALL PHONES, LARGE PHONES */
@media (max-width: 550px) {
    .nav__links {
        display: none;
    }

.btn__menu {
    display: block;
}

  .nav__bar {
        display: block;
    }
}


