@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #7b45d8;
  color: #fff;
  overflow-x: hidden;
}

/* TEXT + BASICS */
p {
  line-height: 1.5;
  font-size: 18px;
}

a {
  text-decoration: none;
  transition: opacity 300ms ease;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

button {
  cursor: pointer;
}

.white {
  color: #fff;
}


/* NAVIGATION BAR */
nav {
  height: 100px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  position: relative;
  z-index: 10;
}

.nav__link--list {
  display: flex;
  gap: 18px;
  list-style-type: none;
}

.nav__link--anchor {
  color: #fff;
  font-weight: 700;
   margin: 0 18px;
}

.nav__link--anchor-primary {
  background-color: #fff;
  padding: 8px 20px;
  border-radius: 50px;
  color: #6030b1;
  transition: background 300ms ease;
}

.nav__link--anchor-primary:hover {
  opacity: 0.8;
}

.logo {
  width: 150px;
}

/* HEADER */
.nav__bar {
  min-height: 300px;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 40px 15px;
}

h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.25;
  width: 100%;
  max-width: 1000px;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  z-index: 1;
  position: relative;
}

.title__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

/* SEARCH BAR */
.search__box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  background-color: #fff;
  border-radius: 50px;
  padding: 5px;
  z-index: 1;
  
}

#searchBar.input__box {
  border: none;
  border-radius: 50px;
  padding: 12px 50px 12px 15px;
  font-size: 1rem;
  width: 100%;
  outline: none;
  position: relative;
}

button.loading {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color: #6415ff;
  font-size: 1.5rem;
}

/* MOVIES GRID */
#results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 24px;
  justify-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  z-index: 1;
}

.movie {
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  width: 100%;
  max-width: 200px;
  display: inline-flex;
  flex-wrap: wrap;
}


.movie__title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}


.movie__tag, .movie__year {
  display: block;
  margin-bottom: 3px;
}


.movies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
}

.movie img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.movies__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 24px;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}

#filter {
    background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  height: 40px;
  padding: 0 16px;
  width: 100%;
  max-width: 300px;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* OVERLAY */
.overlay,
.overlay__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 326px;
  z-index: 0;
}

.overlay__img {
  background-size: cover;
  background-position: 50%;
  opacity: 0.3;
  background-color: #7b45d8;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {

  h1 {
    font-size: 40px;
  }

  .search__box {
    max-width: 100%;
  }

  #results {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1rem;
  }

#filter {
  max-width: 200px;
}
.movies__header {
  margin-top: 30px;
}

  .search__box {
    flex-direction: row;
    padding: 3px;
  }

  button.loading {
    right: 10px;
    font-size: 20px;
  }

}



@media (max-width: 640px) {

   h1 {
    font-size: 40px;
  }

  h2 {
  font-size: 30px;
}

.nav__link{
  display: none;
}

  .nav__link-contact {
    visibility: visible;
  }
}



@media (max-width: 576px) {

  .movie {
    max-width: 150px;
  }

}


@media (max-width: 480px){

  img.blinker {
  width: 150px;
}

h2 {
  font-size: 18px;
}

}



























